<div class="ui raised very padded text container segment calculadora">
  <h2 class="ui header">Calculadora de ICMS</h2>

  <form class="ui form">
    <div class="field">
      <label> Estado de Origem </label>
      <%= text_field_tag "uf_from", "SP", :class => "uf-from", :disabled => true %>
    </div>
    <div class="three fields">
      <div class="field">
        <label>Total </label>
        <%= text_field_tag "total", "", :class => "total" %>
      </div>
      <div class="field">
        <label><i class="flag us big"></i> Soma total de Importados </label>
        <%= text_field_tag "imported-value", "", :class => "imported-value" %>
      </div>
      <div class="field">
        <label><i class="flag br big"></i> Soma total de Nacionais </label>
        <%= text_field_tag "national-value", "", :class => "national-value" %>
      </div>
    </div>
    <div class="field">
      <p> Estado de destino </p>
      <select name="uf_to" id="uf_to" class="uf-to ui fluid dropdown">
      	<option value="">Selecione</option>
      	<option value="AC">AC</option>
      	<option value="AL">AL</option>
      	<option value="AM">AM</option>
      	<option value="AP">AP</option>
      	<option value="BA">BA</option>
      	<option value="CE">CE</option>
      	<option value="DF">DF</option>
      	<option value="ES">ES</option>
      	<option value="GO">GO</option>
      	<option value="MA">MA</option>
      	<option value="MG">MG</option>
      	<option value="MS">MS</option>
      	<option value="MT">MT</option>
      	<option value="PA">PA</option>
      	<option value="PB">PB</option>
      	<option value="PE">PE</option>
      	<option value="PI">PI</option>
      	<option value="PR">PR</option>
      	<option value="RJ">RJ</option>
      	<option value="RN">RN</option>
      	<option value="RS">RS</option>
      	<option value="RO">RO</option>
      	<option value="RR">RR</option>
      	<option value="SC">SC</option>
      	<option value="SE">SE</option>
      	<option value="SP">SP</option>
      	<option value="TO">TO</option>
       </select>
    </div>
    <div class="field">
      <label> Porcentagem de ICMS para o Estado de Destino </label>
      <%= text_field_tag "quota", 40, :class => "quota", :disabled => true %>
    </div>
    <%= button_tag "Calcular", :type => 'button', :class => "calculate ui button" %>
  </form>
</div>

<div class="ui raised very padded text container segment">
  <h1>Valor do GNRE:</h1>
  <div class="ui massive label blue gnre">
    <span class="icon white">gnre</span>
    <span class="gnre-value">0,00</span>
  </div>
  <div class="ui massive label yellow fecp">
    <span class="icon white">fecp</span>
    <span class="value">0,00</span>
  </div>
  <div class="ui massive label red total">
    <span class="icon white">total</span>
    <span class="value">0,00</span>
  </div>

</div>
